body {
   background-color:#941C2F;   
   font-family:Helvetica;   
}

h1,h2 {
  color:#20A4F3; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:fontTitle;   
  src: url(/Coolvetica.otf);
}

h1 {
   font-size:60px;
}

h2,input {
   font-size:30px;
}

table, th, td {
   border: 1px solid;
   padding: 15px;
   background-color: #D6EEEE;
}

td {
   text-align: center;
   vertical-align: middle;
}

span {
   font-size:20px;
   color:#C1CFDA;  
}

label {
   font-size: 20px;
   color: #000000;
}

select {
   font-size:20px;   
   font-weight:bold;
}
option {
   font-size:15px;
   font-weight:bold;
}

#submit,button {
   box-shadow:inset 0px 1px 0px 0px #97c4fe;
   background:linear-gradient(to bottom, #20A4F3 5%, #003080 100%);
   background-color:#3d94f6;
   border-radius:6px;
   border:1px solid #032154;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-size:19px;
   font-weight:bold;
   padding:6px 24px;
   text-decoration:none;
   text-shadow:0px 1px 0px #1570cd;
}
button:hover {
   background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
   background-color:#1e62d0;
}
button:active {
   position:relative;
   top:1px;
}


.checkboxes label{
   font-size:15px;
}

.button-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

input#ids,input#file {
   font-size:20px;
  
}

.logos {
   display: flex;
   align-items: center;
}
#chuteira-modok-home {
  margin-left: 25%;
}

#logo-modok {
  color:#ffffff; 
  font-size:100px;
  font-family:fontModok;   
  src: url(/CotaneBeach.otf);
}

#logo-modok-home {
  margin-left: 40px;
  color:#ffffff; 
  display: flex;
  font-size:100px;
  justify-content: center;
  align-items: center;
  font-family:fontModok;   
  src: url(/CotaneBeach.otf);
}

#home {
   text-align: justify;
}

.hyperlink {
   cursor:pointer;
   color:#59F8E8;
   text-decoration:underline;
}

#float-home-superset {
   margin-left: 1%;
   float: left; 
   width: 30%;
   margin-right: 1%;
}
#float-home-operations {
   margin-left: 1%;
   float: left;
   width: 30%;
   margin-right: 1%;
}

#float-home-manager {
   margin-left: 1%;
   float: left;
   width: 30%;
   margin-right: 1%;
}

#table-scroll {
  height:500px;
  overflow-y:auto;  
  margin-top:20px;
  position:relative;
}
#table-container {
  height:300px;
  position:relative;
}






