<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request completed</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>
<body>
   <h2> Your request was done </h2>
   <h2> Elapsed time : {{elapsed_time}} </h2>
   <h2> Operation: {{operation}} </h2>
   <h2> Category: {{category}} </h2>
   <h2> Ids requested: {{ids}} </h2>
   <h2> Ids completed:</h2>
   <table name="results-table" id="results-table">
   {% for item in work_progress %}
      <tr>
       <td id="{{item[0]}}" value="{{item[1]}}"></td>
      </tr>
   {% endfor %}
   </table>
   <br>
   <br>
   <button onclick="location.href = '/modok/operations';" id="buttonBack" class="float-left submit-button" >Go back</button> 


   <script>
      var table = document.getElementById("results-table");
      for (var i = 0, row; row = table.rows[i]; i++) {
         for (var j = 0, col; col = row.cells[j]; j++) {
            let id = table.rows[i].cells[j].id;
            let value = document.getElementById(id).attributes.value.textContent;
            let finalValue;
            if (value == "True"){
               finalValue = '&#9989;';
            }
            else{
               finalValue = '&#10060;'
            }
            document.getElementById(id).innerHTML = id + " " + finalValue;
         }  
      }
   </script>
</body>
</html>
