<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModoK - Operations</title>
   <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>
   <h1 id="logo-modok"> ModoK </h1>
   <h1>Operations</h1>
   <br>
   <form id="form" action="{{ url_for('modok_api')}}" method="POST" enctype="multipart/form-data">
      <label for="operation"> Choose an operation:&#160&#160</label>
         <select name="operation" id="select-operation">
            <option disabled selected value="blank"> -- select an option --  </option>
            <option value="insert">Insert/Update</option>
            <option value="remove">Remove</option>
         </select>
      <br>
      <br>
      <label for="category"> Choose a category:&#160&#160</label>
         <select name="category" id="select-category">
            <option disabled selected value="blank"> -- select an option --  </option>         
            <option value="player">Player</option>
            <option value="team">Team</option>
         </select>
      <br>
      <br>
      <label for="input_type"> Choose an input type:&#160&#160</label>
         <select name="input_type" id="select-input-type">
            <option disabled selected value="blank"> -- select an option --  </option>         
            <option value="file">File (comma,space or \n separated)</option>
            <option value="text">Text (comma separated)</option>
         </select>
      <br>
      <br>

      <div id="div-id-list">
         <label for="ids"> ID list:&#160&#160</label>
         <input type="value" id="ids" name="ids" multiple>
      </div>
      <br>
      <br>
      <div id="div-file">
         <label for="file"> ID file:&#160&#160</label>
         <input type="file"  id="file" name="file" accept=".csv,.txt" />
      </div>
      <br>
      <br>
      <input type="submit" id="submit" value="Submit">
   </form>
   <br>
   <br>
   <br>
   <button onclick="location.href = '/modok/';" id="buttonBack" class="float-left submit-button" >Return to Menu</button> 

   <script  type="text/javascript"  src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
   <script>
      setTextInputVisible(false);
      setFileInputVisible(false);            

      $('#select-input-type').on("change",function(){
         let type = $('#select-input-type').find(":selected");
         if (type.val() == "file"){
            setTextInputVisible(false);
            setFileInputVisible(true);
         }
         else{
            setFileInputVisible(false);           
            setTextInputVisible(true);
         }         
      })

      $("form" ).on("submit", function( event ){
         if (!validate_form()){
            event.preventDefault();            
         }
      });

      function validate_form() {
         let operation = document.getElementById("select-operation");
         let category = document.getElementById("select-category");
         let selectedOperation = operation.options[operation.selectedIndex].value;
         let selectedCategory = category.options[category.selectedIndex].value;
         if (selectedOperation == "blank" || selectedCategory == "blank") {
            alert("Please select operation and category before submitting");
            return false;
         }
         return true;
      }
      function setDivVisible(div,visible){
         let x = document.getElementById(div);
         if (visible) {
            x.style.display = "block";
         }
         else {
            x.style.display = "none";
         }         
      }
      function setTextInputVisible(visible){
         setDivVisible("div-id-list",visible);
      }
      function setFileInputVisible(visible){
         setDivVisible("div-file",visible);
      }
   </script>

</body>
</html>
